.slick-prev:before,
.slick-next:before {
  color: rgb(150, 88, 88) !important; 
  font-size: 30px;
  
}

.slick-prev {
  left: -35px;
  padding-left: 1%;
  z-index: 10;
}
.slick-next {
  right: -35px;
  padding-right: 4%;
  z-index: 10;
}
